<header class="header-v1">
  <div class="top-bar">
      <div class="container">
          <div class="pull-left">
              <ul class="list-inline social-icons">
                  <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              </ul>
          </div>
          <div class="pull-right">
              <ul class="list-inline">
                  <li><a href="#">Donate Now</a></li>
                  <li><a href="#">Become a volunteer</a></li>
                  <li><a href="#">+01 (1800) 4343-294-392</a></li>
              </ul>
          </div>
      </div>
  </div>
  <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-sticky navbar-static-top yamm">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">
                  <img src="../assets/images/logo-light.png" alt="logo" class="logo-default">
                  <img src="../assets/images/logo-dark.png" alt="logo" class="logo-scroll">
              </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="">
                      <a href="#" class=" js-activated" routerLinkActive="active" routerLink='/index' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Home </a>
                      <!-- <ul class="dropdown-menu">
                          <li><a href="index.html">Home Revolution Slider</a></li>
                          <li><a href="index-parallax.html">Home parallax Image</a></li>
                          <li class="dropdown-submenu">
                              <a tabindex="-1" href="#">Menu Levels</a>
                              <ul class="dropdown-menu">
                                  <li><a tabindex="-1" href="#">Second level</a></li>
                                  <li class="dropdown-submenu">
                                      <a href="#">Even More..</a>
                                      <ul class="dropdown-menu">
                                          <li><a href="#">3rd level</a></li>
                                          <li><a href="#">3rd level</a></li>
                                      </ul>
                                  </li>
                                  <li><a href="#">Second level</a></li>
                                  <li><a href="#">Second level</a></li>
                              </ul>
                          </li>
                      </ul> -->
                  </li>
                  <li><a routerLinkActive="active"  routerLink='/about' >About</a></li>
                  <li class="">
                      <a href="#"  routLinkActive="active" routerLink='/causeslist'>Causes List </a>
                     
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="event-list.html">Event list</a></li>
                          <li><a href="event-grid.html">Event grid</a></li>
                          <li><a href="event-calendar.html">Event Calendar</a></li>
                          <li><a href="event-detail.html">Event detail</a></li>
                      </ul>
                  </li>
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="gallery-2col.html">Gallery 2 columns</a></li>
                          <li><a href="gallery-3col.html">Gallery 3 columns</a></li>
                          <li><a href="gallery-4col.html">Gallery 4 columns</a></li>
                          <li><a href="gallery-fullwidth.html">Gallery fullwidth</a></li>
                      </ul>
                  </li>
                  <li><a href=""  routerLinkActive="active"  routerLink='/contact'>Contact</a></li>             
              </ul>
          </div><!--/.nav-collapse -->
      </div><!--/.container-fluid -->
  </nav>
</header>

